@using WeatherForecastMVC.Models
@model WeatherForecastModel
@{
    ViewData["Title"] = "Weather Forecast";
}

<h1>@Html.DisplayFor(model => model.City)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precipitation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precipitation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowestTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowestTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestTemperature)
        </dd>
    </dl>
</div>
<div>
    <input class="btn btn-primary" type="button" href="javascript:void(0);" onclick="history.go(-1);" Value="Go back" />
</div>